<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <!--这个bindings是对下面的binding配置更加详细的说明，也就是会影响到下面的配置-->
      <bindings>
        <basicHttpBinding>
          <!--增加一个binding，打开的超时时间，发送信息的超时时间-->
          <binding name="myBasicHttpbinding" openTimeout="00:30:00" sendTimeout="00:30:00">
            <!--设置安全性-->
            <security mode="None"></security>
          </binding>
        </basicHttpBinding>
      </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                  <!--为避免泄露元数据，在部署前需要将下面的值设置为false-->
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                  <!--是否给Client端抛出service的CLR异常-->
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="MyService.MyWCFService">
                <endpoint address="" binding="basicHttpBinding" contract="MyService.IMyWCFService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/MyService/MyWCFService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>